body {
background-image: url("imagens/true.jpg");
background-size: cover;
color: white;
}
.container {
padding: 20px;
background-color: rgba(0, 0, 0, 0.8);
border-radius: 10px;
margin: 20px auto;
max-width: 600px;
}
h1 {
color: red;
}
                    
     